--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
opencv-python-headless
torch
torchvision
facenet-pytorch
numpy
firebase-admin
pandas
python-multipart
jinja2
requests
tqdm
python-dotenv
openpyxl
fpdf
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
PyJWT
redis
websockets
slowapi
