--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
opencv-python-headless
torch
torchvision
facenet-pytorch
numpy<2.0.0
firebase-admin
pandas
python-multipart
jinja2
requests
tqdm
python-dotenv
openpyxl
fpdf
